---
layout: default
published: true
---
{% assign protocols_by_taxonomy = site[site.featured-collection] | group_by: site.taxonomy %}


{% for p in protocols_by_taxonomy %}

{% assign mod = forloop.index | modulo: 2 %}
{% if mod != 0 %}<section class="row">{% else %}{% endif %}
<div class="col col-50">
	<h2 class="underline">{{ p.name | capitalize }}</h2>
	<ul class="list">
	{% for item in p.items %}
		<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
	{% endfor %}
	</ul>
</div>
{% if mod == 0 or forloop.last %}</section>{% else %}{% endif %}
{% endfor %}
