---
---

$dark_color: #2c515d;
$light_color: #fafafa;
$black: #333;

html {font-size: 10px;}

body {
	font-family: 'Work Sans', Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	line-height: 1.45em;
	color: $black;
	margin: 0;
	background-color: $light_color;
}

.container {
	max-width: 1000px;
	padding: 1em 3.5%;
	margin: 0 auto;
}

@media screen and (max-width: 50em) {
	body { font-size: 16px; }
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1% 0 2%;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

a { color: $dark_color }
a:hover { color: darken($dark_color, 20); text-decoration: none; }

.leading { 
	font-size:  1.125em; 
	opacity: 0.6;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
	}

.underline {
	border-bottom: 0.125em solid rgba(0,0,0,0.1);
    margin-bottom: 0.25%;
}

code {
	background-color: #F9FBCC;
	color: rgba(0,0,0,0.75);
	display: block;
	padding: 1em;
	margin-left: 1%;
}

#site-description {
	opacity: 0.75;
    font-size: 1.125em;
	line-height: 1.5em;
    margin-bottom: 1%;
}

header {
		background-color: $dark_color;
        color: $light_color;
        width: 100%;
    }
header a { color: $light_color; text-decoration: underline; }
header h1 a { text-decoration: none; margin-bottom: 0.25em; }
header a:hover { color: rgba($light_color, 0.75); text-decoration: underline; }
@media screen and (max-width: 50em) {

	header h1 {
		font-size: 1.5em;
	}
}

footer {
	border-top: 4px solid rgba($dark_color,0.25);
	padding: 0.25em;
	margin-top: 2%;
    color: #888;
}

ul.breadcrumbs { 
				padding: 0;
				margin: 0;
				 }
ul.breadcrumbs li { list-style: none; display: inline-block; }

/* Dead Simple Grid (c) 2015 Vladimir Agafonkin */

.row .row { margin:  0 }
.col      { padding: 0}

.row:after {
    content: "";
    clear: both;
    display: table;
}

@media only screen { .col {
    float: left;
    width: 100%;
    box-sizing: border-box;
}}

@media screen and (min-width: 50em) {
	.col-50 {
		width: 50%;
		padding-right: 2em;
	}
	.col-60 {
		width: 60%;
		padding-right: 2em;
	}
	.col-40 {
		width: 40%;
	}
}

ul { margin-bottom: 5%; }
ul li { margin-bottom: 1%; }

.list {
	padding: 0.5em 0.25em;
}

.list li { list-style: none; }

table { 
	width: 100%; 
	border-spacing: 4px;
	margin: 2% 0 3em;
	font-size: 0.9em;
}

td {
	background-color: rgba(0,0,0,0.1);
	padding: 0.5em 1%;

}
