<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} - {{ site.organisation }} - {{ site.title }}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    {% seo %}


	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ base.url }}/assets/css/style.css">

</head>

<body>
<div class="container">

<header>
	<h1 class="leading">{{ site.organisation }}</h1>
	<h1><a href="{{ base.url }}/">{{ site.title }}</a></h1>
	
	{% if page.url != "/" %}
	<ul class="breadcrumbs">
			<li><a href="{{ base.url }}/">Home</a></li>
			<li> / {{ page.title }}</li>
	</ul>
	{% endif %}

</header>

{{ content }}
	

<footer>
	<small>Last Revision: {{ site.time | date: "%c"}}</small>
</footer>

</div>
</body>
</html>
